# Django
# Django
SECRET_KEY=django-insecure-&17c1m9pobb7yydwl$3hsn63ay#(#%bz#1znkg5rt!1kuotwmq
DEBUG=True

# Email (Gmail SMTP)
EMAIL_HOST_USER=civicsaathi@gmail.com
EMAIL_HOST_PASSWORD=tpbq mnsw ihbq oadi
DEFAULT_FROM_EMAIL=CivicSaathi <civicsaathi@gmail.com>

# Gemini AI (Filter B)
GEMINI_API_KEY=

# Site
SITE_URL=http://localhost:8000