# Core Django
Django>=4.2,<5.0
djangorestframework>=3.14.0
django-cors-headers>=4.3.0
django-jazzmin>=2.6.0

# Authentication
django-rest-authtoken>=2.1.4

# Database
psycopg[binary]>=3.1.0

# Image handling
Pillow>=10.0.0

# Environment variables
python-dotenv>=1.0.0
google-auth
google-genai
# Utilities
Faker>=19.0.0
pytz>=2023.3